<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Document ShAIRing System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul id="nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/files">My Files</a></li>
      <li><a href="/users">Users</a></li>
<<<<<<< HEAD
      <li><a href="/blacklist">Taboo Words</a></li>
=======
      <li><a href="/inbox">Inbox</a></li>
>>>>>>> b60429c15a5728b402be4d255b22f3052b53b067
    </ul>
    {{{body}}}
</body>
</html>
