<div class = "submission_form_div" id="submit_application_div">
  <form class = "submission_form" id="submit_application" action="submit_application" method="post">
      <h2>Apply for Ordinary User</h2>
      <div>Username: <br/><input type="text" name="username" value = {{username}}></div>
      <div>Picture URL: <br/><input type="text" name="picture_url" value="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"></div>
      <div id = text>Technical Interests: <input type="textarea" name="technical_interests"></div>
      <br/>
      <input type="submit" value="Submit Application for Review">
  </form>
</div>
