<div id="blacklist_table">
  <div id="heading">
    <h1>Taboo Word Blacklist</h1>
  </div>
  <div id="submit_taboo">
    <form action="/blacklist/submit" method="post">
      <input type="text"  placeholder="Submit suggestion" name="submit_word">
      <input type="submit" value="Submit">
    </form>
    <br/>
  </div>
  <table>
    <tr>
      <th>Taboo Word</th>
      <th>Submitted by</th>
      {{#if data.isSuperUser}}
      <th class="delete">Delete?</th>
      {{/if}}
    </tr>
    {{#each data.rows}}
    <tr>
      <td>{{taboo_word}}</td>
      <td>{{submitted_by}}</td>
      {{#if ../data.isSuperUser}}
      <td class="delete">
        <form action="/blacklist/delete_taboo" method="post">
          <input type="hidden" name="taboo_word" value="{{taboo_word}}">
          <input type="submit" value="X">
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </table>
</div>
