<div id="create_profile_div">
  <form id="create_profile" action="/create_profile" method="post">
      <h2>Create New User Profile</h2>
      <div>Name: <input type="text" name="name"></div>
      <div>Picture URL: <input type="text" name="picture_url" value="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"></div>
      <div>Bio: <input type="text" name="bio"></div>
      <br/>
      <input type="submit" value="Create New Profile">
  </form>
</div>
