<div id="file">
  {{#if isPublic}}
    {{> file_read_only_all this}}
  {{/if}}

  {{#if isRestricted}}
    {{#if isGuestUser}}
      {{> file_read_only_all this}}
    {{else}}
      {{> file_all_permissions}}
    {{/if}}
  {{/if}}

  {{#if isShared}}
    {{#if isCollaborator}}
      {{> file_all_permissions}}
    {{else if isFileOwner}}
      {{> file_all_permissions}}
    {{else}}
      <div>Cannot access file.</div>
    {{/if}}
  {{/if}}

  {{#if isPrivate}}
    {{#if isFileOwner}}
      {{> file_all_permissions this}}
    {{else}}
      <div>Cannot access file.</div>
    {{/if}}
  {{/if}}
</div>
