<div id="file">
  <div id="top">
    <h1>{{file_name}}</h1>
    <h3>Owned by: {{name}}</h3>
  </div>

  <div id="center">
    <div id="lhs_file_gui">
      <form>
        <button>Make Changes</button>
        <button>Lock/Unlock Document</button>
        <button type="submit" formaction="/file/{{file_id}}/manage" formmethod="get">Manage File</button>
        <button>Version History</button>
      </form>
    </div>
    <div id="text_file">
      <textarea></textarea>
    </div>
    <div id="rhs_file_gui">
      <form>
        <button type="submit" formaction="/file/{{file_id}}/file_complaint"
          formmethod="get">File Complaint</button>
      </form>
    </div>
  </div>
</div>
