<div id="file">
  <div id="top">
    <h1>{{file_name}}</h1>
    <h3>Owned by: {{name}}</h3>
  </div>

  <div id="center">
    <div id="lhs_file_gui">
      <form>
        <button>Make Changes</button>
        <button>Lock/Unlock Document</button>
        <button>Invite Users</button>
        <button>Version History</button>
      </form>
    </div>
    <div id="text_file">
      <textarea></textarea>
    </div>
    <div id="rhs_file_gui">
      <button>File Complaint</button>
    </div>
  </div>

</div>
