<div class="vertical_menu" id="inbox_div">
  <h1>Inbox</h1>
  <div id="center">
    <div class="vertical_navbar">
      <form method="get">
        <button class="button" formaction="{{data.base_url}}/invites">Invites</button>
        <button class="button" formaction="{{data.base_url}}/complaints">Complaints</button>
      </form>
    </div>
    <div class="content">
      {{#if data.invites}}
        {{> inbox_invites this}}
      {{else if data.complaints}}
        {{> inbox_complaints this}}
      {{/if}}
    </div>
  </div>
</div>
