<div id="login">
  <form action="/login_user" method="post">
      <h2>Login Existing User</h2>
      <div>Username: <input type="text" name="username1"></div>
      <div>Email: <input type="text" name="email1"></div>
      <br/>
      <input type="submit" value="Login">
  </form>

  <form action="/create_user" method="post">
      <h2>Create New User</h2>
      <div>Username: <input type="text" name="username2"></div>
      <div>Email: <input type="text" name="email2"></div>
      <br/>
      <input type="submit" value="Create New User">
  </form>
</div>
