<div class="vertical_menu" id="manage_file_div">
  <h1>Manage File</h1>
  {{! TODO: Include this data }}
  <h3>File: {file_name}</h3>
  <h3>Owner: {username}</h3>
  <div id="center">
    <div class="vertical_navbar">
      <form method="get">
        <button formaction="/file/{{data.file_id}}/manage/permissions">Permissions</button>
        <button formaction="/file/{{data.file_id}}/manage/invites">Invites</button>
      </form>
    </div>
    <div class="content">
      {{#if data.permissions}}
        {{> file_permissions this}}
      {{else if data.invites}}
        {{> file_invites this}}
      {{/if}}
    </div>
  </div>
</div>
