<div id="new_complaint_div">
  <h1>File a Complaint</h1>
  {{! TODO: Complain to owner of document }}
  {{! TODO: Complain to SUs }}
  {{! Probably have a select tag that chooses whether to send it to the owner of the doc or to the SUs
      in general. Both would be handled accordingly. Destination is the oly difference. }}
  <div class="complaint_form_container">
    <form action="/file/{{file_id}}/complaint" method="post" id="change_complaint_recipient">
      <div> Select Recipient:
        <select name="recipient" form="change_complaint_recipient">
          <option value="owner">Document Owner</option>
          <option value="superusers">Super Users</option>
        </select>
      </div>
      <br>

      <div style="width: 75%"> Subject:
        <input type="input" name="complaint_subject" placeholder="Subject" style="width: 92%">
      </div>
      <br>

      <textarea type="text" name="complaint_text" style="height:35em"
        placeholder="Enter complaint here"></textarea>
      <br>

      <input type="submit" value="Submit" style="font-size: 0.8em">
    </form>
  </div>
</div>
