<div id="new_complaint_div">
  <h1>File a Complaint</h1>
  {{! TODO: Complain to owner of document }}
  {{! TODO: Complain to SUs }}
  {{! Probably have a select tag that chooses whether to send it to the owner of the doc or to the SUs
      in general. Both would be handled accordingly. Destination is the oly difference. }}
</div>
